language: java
#os: windows
version: ~> 1.0

services:
  - docker

env:
    -DOCKER_USERNAME=my_username
    -DOCKER_PASSWORD=my_password
    -APP_CONTAINER=""
    -DB_CONTAINER=""
before_script:
  - echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, is commencing run." > logs/travis.log
#  - docker login -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}

script:
  - docker volume create travis-logs
  - docker build --no-cache --pull - < Dockerfile
  - docker run --rm -v ${PWD}\logs:/ <image_name:latest> && docker logs -f ${APP_CONTAINER} >> logs/docker.log

after_faliure:
  - script: { echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has failed." >> travis.log
              travis logs > travis.log }

after_script:
  - echo The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has finshed running. >> travis.log