language: java
version: ~> 1.0
jdk:
  - oraclejdk8
  - openjdk8
before_script:
  - script: echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, is commencing run." > travis.log;

after_faliure:
  - script: { echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has failed." > travis.log;
              travis logs > travis.log }

after_script:
  script: echo The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has finshed running. > travis.log;