language: java
#os: windows
version: ~> 1.0

services:
#  - docker

env:

before_install:
  - echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, PR number ${TRAVIS_PULL_REQUEST}, build id':'${TRAVIS_BUILD_NUMBER} is commencing run." > buildlogs/travis.log
#  - docker login -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}

script:
#  - docker build --no-cache -f Dockerfile .
#  - docker run --rm -it --name linux -v ${PWD}:/root -w /root maven:3-jdk-11 mvn clean install && docker logs -f linux >> buildlogs/docker.log
#  - docker exec -- run some docker command.

after_failure:
  - echo "The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has failed." >> buildlogs/travis.log
  - travis logs > travis.log

after_script:
  - echo The build on ${TRAVIS_PULL_REQUEST_BRANCH}, number ${TRAVIS_PULL_REQUEST}, has finshed running. >> buildlogs/travis.log